@import '../../lib/miniframework/scss/mixins';

$str_width: 6;
$string-color: #222;

header{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 22px;

  img{
    width: 40px;
  }

  h1{
    font-size: 1.2rem;
    padding: 0;
  }

  small{
    font-size: 0.75rem;
    color: #ccc !important;

    a{
      color: inherit !important;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

main{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  
  summary{
    display: inline-block;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 100px;
    padding: 8px 22px;
    color: #333 !important;
    font-size: 0.9rem;
    cursor: pointer;
    transition: border-color .2s;

    &:hover{
      border-color: #269ad4;
    }
  }

  details[open] > summary{
    border-color: #269ad4; 
  }
}

.area-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin: 0 auto;

  .print-area{
    background: #fff;
    padding: 25px;
  }

  input{
    text-align: center;
    padding: 0;
    border: none;
  }

  // Nome do acorde
  .nome-acorde{
    margin: 0 auto;
    font-size: 3.2rem;
    font-weight: bold;
    color: #000 !important;
  }

  // Afinação
  .afinacao{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 300px;
    margin: 20px auto;
  }
  
  // Diagrama do acorde
  .diagrama-container{
    width: 260px;
    margin: 20px auto;
    position: relative;

    // Número da casa
    .numero-casa{
      width: 100px;
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      top: 25px;
      padding-right: 20px;
      font-size: 1.25rem;
      text-align: right;
    }

    .diagrama{
      .casa{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background: #777;
        }

        &:nth-child(1){
          border-top: 8px solid #000;

          &::after{
            display: none;
          }
        }

        .corda{
          width: 2px;
          height: 65px;
          background: $string-color;
          position: relative;
          z-index: 1;


          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              width: #{$str_width}px;
              border-left: 1.75px solid $string-color;
              border-right: 1.75px solid $string-color;
              background: #ddd;
            }
            $str_width: $str_width - 1
          }

          .nota{
            width: 36px;
            height: 36px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            font-weight: bold;
            font-size: 1.15rem;
            opacity: 0;
            outline: none;

            &:hover{
              opacity: 0.5;
            }

            &.active{
              opacity: 1;
              color: #fff;
            }
          }
        }

        .pestana{
          width: 0;
          height: 30px;
          background: #000;
          border-radius: 30px;
          position: absolute;
          z-index: 10;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);
          color: #fff;
          font-weight: bold;
          outline: none;

          &.pestana5{
            width: calc(100% / 5 * 1 + 2px + 30px);
          }

          &.pestana4{
            width: calc(100% / 5 * 2 + 2px + 30px);
          }

          &.pestana3{
            width: calc(100% / 5 * 3 + 2px + 30px);
          }

          &.pestana2{
            width: calc(100% / 5 * 4 + 2px + 30px);
          }

          &.pestana1{
            width: calc(100% / 5 * 5 + 2px + 30px);
          }
        }
      }
    }
  }

  // Cordas a serem tocadas
  .cordas-soltas{
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;

    .corda{
      display: flex;
      justify-content: center;
      align-items: center;

      // overflow: visible;
      width: 2px;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          width: #{$str_width}px;
        }
        $str_width: $str_width - 1
      }

      .indicator-icon{
        background-image: url(../img/x-icon.svg);
        background-size: cover;
        min-width: 42px;
        height: 42px;
        cursor: pointer;

        &.open{
          opacity: 0;
        }
      }
    }
  }

  // Botão para download do diagram
  .download-btn{
    display: block;
    margin: 0 auto 25px auto;
    padding: 12px 30px;
    border-radius: 50px;
  }
}

#diagrama-ukulele{
  width: 340px;

  .afinacao{
    width: 240px;
  }

  .diagrama-container{
    width: 200px;
  }

  .cordas-soltas{
    width: 200px;
  }

  .pestana3{
    width: calc(100% / 3 * 1 + 2px + 30px);
  }

  .pestana2{
    width: calc(100% / 3 * 2 + 2px + 30px);
  }

  .pestana1{
    width: calc(100% / 3 * 3 + 2px + 30px);
  }
}